@import '../../../_variable.scss';

.card-custom{
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
    text-align: center;
    text-transform: capitalize;
    border:none !important;
    box-shadow: 0 1px 6px 0 grey;
    transition: .3s;
    &:hover{
        z-index: 888;
        transform: scale(1.1);
    }
    .card-owned{
        position: absolute;
        background: white;
        opacity: 0.8;
        padding: 3px 10px;
        top: 8px;
        left: 5px;
        min-width: 60%;
        font-size: 12px;
        font-weight: 600;
        border-radius: 10px;
        label{
            margin-bottom: 0px;
        }
        
    }
    .card-img{
        background-color: $red-pokemon;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        min-height: 133px;
    }
    .card-body{
        padding: 0.75rem;
        .card-title{
            font-size: 18px;
            margin-bottom: 0px;
        }
        .release-btn{
            padding: 2px 10px !important;
        }
    }
    .bottom-box{
        border-bottom: 11px solid $black-pokemon;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        width: 70%;
        height: 0;
        align-self: center;
    }

}