.card-custom{
    text-align: center;
    text-transform: capitalize;
    border:none !important;
    box-shadow: 0 1px 6px 0 grey;

    transition: .3s;
    &:hover{
        z-index: 888;
        transform: scale(1.1);
    }

    .release-btn{
        padding: 2px 10px !important;
    }
}