@import '../../variable';

.bottom-navbar{
    z-index: 999;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding: 0;
    box-shadow: 0 -2px 4px 0 rgba(108,114,124,0.16);
}
.link-custom{
    display: block;
    padding: .5rem 1rem;
    text-align: center;
    font-size: 12px;
    color: gray !important;
    text-decoration: none !important;
    &:hover{
        color: $red-pokemon !important;
    }


    img{
        height: 40px;
    }
}
@media (min-width:577px){
    .bottom-navbar{
        top: 15%;
        height: fit-content;
        width: 10%;
        display: inline-block !important;
        justify-content: center;
        background: transparent;
        box-shadow: 2px 2px 7px rgba(108, 114, 124, 0.16);
    }

    .nav-item{
        &:nth-child(1){
            .link-custom{
                border-right: 5px solid crimson;
                // border-bottom: 1.2px solid rgba(108, 114, 124, 0.16);
                border-bottom: .8px solid gainsboro
            }
        }
        &:nth-child(2){
            .link-custom{
                border-right: 5px solid orange;
                border-top: .8px solid gainsboro;

                // border-top: 1.2px solid rgba(108, 114, 124, 0.16);
            }
        }
        .link-custom{
            &:hover{
                transform: scale(1.2);
                margin: 6px 0px;
            }
            margin: 2px 0px;
            padding: 10px 0px;
            background: white;
            transition: .3s;
            -webkit-transition: .3s;
        }
    }
}
